<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All doctors - Pill Box</title>

    <!-- Adding style to the page -->
    <%- include('../../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('../partials/header') %>
    <main>
        <section class="main-section">
            <% if(user.isDoctor) { %>
                <center><a href="/doctors/new" class="box-button box-button-filled">Add new doctor</a></center>
            <% } %>
          <h1 class="main-section-title">Doctors</h1>
        
            <% if(doctors) { %>
                <div class="doctors-items">
                <% doctors.filter((doctor) => doctor._id != user._id).forEach((doctor) => { %>
                <div class="doctor-item">
                    <div class="medicine-image">
                      <img src="<%= doctor.photo %>" alt="<%= doctor.name %>" />
                    </div>
                    <div class="doctor-name">
                        <p>Dr. <%= doctor.name %></p>
                    </div>
                    <div class="doctor-specialty">
                        <p><%= doctor.specialty %></p>
                    </div>

                    <% if(user.isDoctor) { %>
                        <div class="doctor-options">
                        <button class="options-button" onclick="window.location.href='doctors/<%=doctor._id%>/edit';">Edit</button>
                        <form action="/doctors/<%=doctor._id%>/delete?_method=DELETE" method="POST">
                            <button class="options-button">Delete</button>
                        </form>
                        </div>
                    <% } %>
                </div>
                    <% }); %>
                
            </div>
              <% } else { %>
                <p>Nothing to show</p>
              <% } %>
        
        </section>
      </main>
  </body>
</html>