<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All products - Pill Box</title>

    <!-- Adding style to the page -->
    <%- include('../../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('../partials/header') %>
    <main>
        <section class="main-section">
            <% if(user.isDoctor) { %>
                <center><a href="/medicines/new" class="box-button box-button-filled">Add new product</a></center>
            <% } %>
          <h1 class="main-section-title">Products</h1>
        
            <% if(medicines.length !== 0) { %>
                <div class="medicines-items">
                <% medicines.forEach((medicine) => { %>
                <div class="medicine-item">
                    <div class="medicine-image">
                      <img src="<%= medicine.image %>" alt="<%= medicine.commercialName %>" />
                    </div>
                    <div class="medicine-commercial-name">
                        <p><%= medicine.commercialName %></p>
                    </div>
                    <div class="medicine-medical-name">
                        <p><%= medicine.medicinName %></p>
                    </div>
                    <div class="medicine-price box-text-filled">
                        <p>$<%= medicine.price %></p>
                    </div>
        
                    <div class="medicine-expiry">
                        <p>Expiry date: <%= medicine.expiryDate.toISOString().split('T')[0] %></p>
                    </div>
                    <% if(user.isDoctor) { %>
                        <div class="medicine-options">
                        <button class="options-button" onclick="window.location.href='medicines/<%=medicine._id%>/edit';">Edit</button>
                        <form action="/medicines/<%=medicine._id%>/delete?_method=DELETE" method="POST">
                            <button class="options-button">Delete</button>
                        </form>
                        </div>
                    <% } %>
                </div>
                    <% }); %>
                
            </div>
              <% } else { %>
                <p class="no-data">No Products</p>
              <% } %>
        
        </section>
      </main>

      <!-- Highliging current page in Navbar  -->
      <script>
        const currentPage = document.querySelector(".medicines-link");
        currentPage.classList.add("selected-page");
      </script>
  </body>
</html>